In [20]:
sorted(catalog.list())

['fea_pi_avg_3_hours',
 'mod_example_model',
 'modin_example_test_x',
 'modin_example_test_y',
 'modin_example_train_x',
 'modin_example_train_y',
 'modout_example_predictions',
 'parameters',
 'params:example_learning_rate',
 'params:example_num_train_iter',
 'params:example_test_data_ratio',
 'prm_example_iris_data',
 'prm_pi_tags',
 'raw_example_iris_data',
 'raw_pi_tags']

In [1]:
df_pi_tags = catalog.load("prm_pi_tags").toPandas()
df_pi_avg_3_hours = catalog.load("fea_pi_avg_3_hours").toPandas()

2020-02-10 13:25:40,723 - kedro.io.data_catalog - INFO - Loading data from `prm_pi_tags` (SparkDataSet)...
2020-02-10 13:25:48,561 - kedro.io.data_catalog - INFO - Loading data from `fea_pi_avg_3_hours` (SparkDataSet)...

In [2]:
df_pi_tags

,DATE_TIME,TAG_1,TAG_2,TAG_3,TAG_4,TAG_5,TAG_6,TAG_7,TAG_8
0,2020-01-01 09:00:00,1223.23,123542.21,12345.23,1.232210e+03,127893.23,1234232.21,123.23,1223432.21
1,2020-01-01 10:00:00,1243.23,124532.21,14523.23,1.232210e+03,178923.23,1224332.21,123.23,1224332.21
2,2020-01-01 11:00:00,1253.23,123562.21,12543.23,1.232210e+03,127893.23,127632.21,123.23,123872.21
3,2020-01-01 12:00:00,1236.23,123782.21,12233.23,1.232210e+03,178923.23,1267832.21,123.23,1265732.21
4,2020-01-01 13:00:00,1237.23,123782.21,123.23,1.232210e+03,127893.23,123782.21,123.23,1232432.21
5,2020-01-01 14:00:00,1238.23,123278.21,1267853.23,1.236789e+07,123.23,1798232.21,123.23,1232432.21
6,2020-01-01 15:00:00,1233.23,1231232.21,123243.23,1.223423e+07,123.23,1278932.21,123.23,1234232.21
7,2020-01-01 16:00:00,1233.23,1233422.21,127893.23,1.267532e+06,123.23,1278932.21,123.23,1223432.21
8,2020-01-01 17:00:00,1236.23,132232.21,1223433.23,1.223423e+08,123.23,1224332.21,124323.23,1232.21

In [3]:
df_pi_avg_3_hours

,DATE_TIME,TAG_1,TAG_2,TAG_3,TAG_4,TAG_5,TAG_6,TAG_7,TAG_8,TAG_1_AVG_3_HOURS,TAG_2_AVG_3_HOURS,TAG_3_AVG_3_HOURS,TAG_4_AVG_3_HOURS,TAG_5_AVG_3_HOURS,TAG_6_AVG_3_HOURS,TAG_7_AVG_3_HOURS,TAG_8_AVG_3_HOURS
0,2020-01-01 09:00:00,1223.23,123542.21,12345.23,1.232210e+03,127893.23,1234232.21,123.23,1223432.21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-01 10:00:00,1243.23,124532.21,14523.23,1.232210e+03,178923.23,1224332.21,123.23,1224332.21,1223.230000,123542.210000,12345.230000,1.232210e+03,127893.23,1.234232e+06,123.23,1223432.21
2,2020-01-01 11:00:00,1253.23,123562.21,12543.23,1.232210e+03,127893.23,127632.21,123.23,123872.21,1233.230000,124037.210000,13434.230000,1.232210e+03,153408.23,1.229282e+06,123.23,1223882.21
3,2020-01-01 12:00:00,1236.23,123782.21,12233.23,1.232210e+03,178923.23,1267832.21,123.23,1265732.21,1239.896667,123878.876667,13137.230000,1.232210e+03,144903.23,8.620655e+05,123.23,857212.21
4,2020-01-01 13:00:00,1237.23,123782.21,123.23,1.232210e+03,127893.23,123782.21,123.23,1232432.21,1244.230000,123958.876667,13099.896667,1.232210e+03,161913.23,8.732655e+05,123.23,871312.21
5,2020-01-01 14:00:00,1238.23,123278.21,1267853.23,1.236789e+07,123.23,1798232.21,123.23,1232432.21,1242.230000,123708.876667,8299.896667,1.232210e+03,144903.23,5.064155e+05,123.23,874012.21
6,2020-01-01 15:00:00,1233.23,1231232.21,123243.23,1.223423e+07,123.23,1278932.21,123.23,1234232.21,1237.230000,123614.210000,426736.563333,4.123452e+06,102313.23,1.063282e+06,123.23,1243532.21
7,2020-01-01 16:00:00,1233.23,1233422.21,127893.23,1.267532e+06,123.23,1278932.21,123.23,1223432.21,1236.230000,492764.210000,463739.896667,8.201119e+06,42713.23,1.066982e+06,123.23,1233032.21
8,2020-01-01 17:00:00,1236.23,132232.21,1223433.23,1.223423e+08,123.23,1224332.21,124323.23,1232.21,1234.896667,862644.210000,506329.896667,8.623219e+06,123.23,1.452032e+06,123.23,1230032.21

In [12]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df_pi_tags, minimal=True, title='Pandas Profiling Report', html={'style':{'full_width':True}})

2020-02-10 11:42:27,414 - numexpr.utils - INFO - NumExpr defaulting to 8 threads.

In [13]:
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

In [16]:
profile.to_file(output_file="notebooks/pandas_profiling_output.html")